<li>
  <%= link_to user.name,  user_path(user), class: 'profile-link' %>
  <% if no_request?(user) %>
    <%= link_to 'Add as friend', :controller => 'friendships', :action => 'create', :sender => current_user, :receiver => user %>
  <% end %>
</li>